.где {
text-align: center;
}

.марс {
    text-align: center;
}

.arc {
    text-align: center;
}

.ловушка {
    text-align: center;
}

.попадётся {
    text-align: center;
}

.gif {
    text-align: center;
    height: 50;
    width: 70;
}

.играет {
    text-align: center;
}